<div>
    Database setted: {{databaseSetted}}
</div>
<div>
    Database initted: {{databaseInitted}}
</div>
<div>
    People: {{ getPeople() }}
</div>
<div>
    <button (click)="setup()">Setup</button>
</div>
<div>
    <button (click)="init()">Init</button>
</div>
<div>
    <button (click)="insert()">Insert</button>
</div>
<div>
    <button (click)="loadById()">Load by id</button>
</div>
<div>
    <button (click)="loadByIndex()">Load by index</button>
</div>
<div>
    <button (click)="loadAll()">Load all</button>
</div>
<div>
    <button (click)="updateById()">Update by id</button>
</div>
<div>
    <button (click)="updateByIndex()">Update by index</button>
</div>
<div>
    <button (click)="delete()">Delete</button>
</div>
<div>
    <button (click)="deleteDatabase()">Delete database</button>
</div>